<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Me</title>
  <link rel="stylesheet" href="/css/all/contact.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<div th:replace="navbar.html"></div>
<div class="contact-container">
  <h1>About Me</h1>
  <p>Assalomu alaykum! Men Azimov Elyor Java Developerman.Bu projectimni PDP
    ACADEMY da ta'lim olayotgan paytimda qilganman.
    Agar project boyicha taklif va fikrlaringiz bo'lsa pastdagi
    profillarimga murojat qilishingiz mumkin.
  </p>

  <h2>My Profiles</h2>
  <ul class="social-links">
    <li>
      <a href="https://t.me/elyorazimov" target="_blank">
        <i class="fab fa-telegram"></i> Telegram
      </a>
    </li>
    <li>
      <a href="https://github.com/AzimovElyor" target="_blank">
        <i class="fab fa-github"></i> GitHub
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/elyor-azimov-6b6a68268/" target="_blank">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
    </li>
    <li>
      <a href="https://leetcode.com/elyorazimov098/" target="_blank">
        <i class="fab fa-leetcode"></i> LeetCode
      </a>
    </li>
  </ul>

  <h2>Contact Information</h2>
  <p>Email: elyorazimov098@gmail.com</p>
  <p>Phone: +99899 472 41 34</p>
</div>
</body>
</html>
